head, body {
  width: 100%;
  height: 100%;
  background: #121212
}

h1, h2 {
  color: #1ed860;
}

p {
  color: #1ed860;
  background: black;
  padding: 2vh;
}

label {
  color: #1ed860;
  background: black;
}

input {
  color: #ffffff; 
  background: #242424;
}

input > placeholder {
  color: #f1f3f4;
}

button {
  color: #1ed860; 
  background: black;
}

/* hides default control panel */
audio::-wbkit-media-controls-panel {
  display: none;
  opacity: 1;
  background-color: #1ed860;
}

/* customize play button */
audio::-webkit-media-controls-play-button {
  ;
}
