<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>The REPL Effect</title>
    <script src="https://replit.com/public/js/repl-auth-v2.js"></script>
    <link href="/static/style.css" rel="stylesheet" type="text/css" />
  </head>


<body>
  <h1>Welcome to the REPL Effect</h1>
  <h2>A chatroom where us Replit users can share ideas, network, and discover the ripple effect that small changes can bring to the world!</h2>
  <br>
  <button onclick="LoginWithReplit()"> Login </button>
</body>
  
</html>