html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}


body {
  background-image: url('/static/images/background.jpg');
  background-size: cover; /* ensure the image covers the entire viewport */
  background-position: center center; /* center the image along both axes */
  background-repeat: repeat; /* prevent image tiling */
  background-attachment: fixed; /* fix the image when scrolling */
}

.text-gradient {
  background: linear-gradient(red, orange, yellow);
  -webkit-background-clip: text;
  color: transparent
}

.text-gradient a {
  background: linear-gradient(red, orange, yellow);
  -webkit-background-clip: text;
  color: transparent
}

.text-gradient a:hover {
  background: linear-gradient(#ba0300, #c26700, #babd00);
  -webkit-background-clip: text;
  color: transparent
}

h1, h2, h3, h4, h5 {
  margin: 0vh;
  font-family: monospace;
  font-weight: extra-bold;
  text-align: center;
  font-size: 18vh;
  ;
}

h2 {
  font-size: 5vh;
  padding 1vh;
}

h3 {
  font-size: 7vh;
}

h4 {
  font-size: 6vh;
}

ul li {
  margin: 2vh;
}

}
img {
  background-color: #1c2333;
  padding: 20px;
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}