<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Red Shift</title>
  <link href="/static/CSS/{css}" rel="stylesheet" type="text/css" />
</head>

<body>

  <h1 class="text-gradient">RED SHIFT</h1>
  <h2 class="text-gradient">STAR DATE: 1{date}</h2>
  <h3 class="text-gradient">FROM THE STREETS TO THE STARS</h3>
  <h4 class="text-gradient">WELCOME TO THE SUPERMASSIVE STRUGGLE</h4>
  <h4 class="text-gradient">🔻</h4>
  <h3 class="text-gradient">
  <ul>
    <li class="text-gradient"><a href="https://red-shift.josephbrockly-a.repl.co/EnterTheVoid">Enter the Void</a></li>
    <li class="text-gradient"><a href="https://red-shift.josephbrockly-a.repl.co/FutureWorthFightingFor">A Future Worth Fighting For</a></li>
  </ul>
    
</body>

</html>